@media (width:375px) {
.a{
  color: lightgray;
  font-size: 14PX;
  position: absolute;
  left: 7%;
  top: 42.5%;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
img.s{
  position: absolute;
  left: 1000000%
}
img.o{
position: absolute;
top: 23%;
left: 50%;
transform: translate(-50% , -50%);
width: 350px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
height: 250px;
}
body{
  background-color: hsl(30, 38%, 92%)
}
.h{
  position: absolute;
  left: 7%;
  top: 45%;
  font-family: Fraunces;
  font-weight: 700;
}
.r{
  position: absolute;
  left: 1000000%;
}
.y{
  position: absolute;
  left: 100000000%;
}
.c{
 color: lightgray;
 font-size: 14PX;
 position: absolute;
 left: 7%;
 top: 60.5%;
 font-family: sans-serif;
 line-height: 25px;
 letter-spacing: 1px;
}
.l{
  position: absolute;
  left: 7%;
  top: 75%;
  color: hsl(158, 36%, 37%);
  font-family: Fraunces;
  font-size: 30px;
  font-weight: 700;
}
del{
  position: absolute;
  left: 44%;
  top: 81%;
  font-size: 14px;
  color: lightgray;
}
input {
  font-family: Montserrat;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 87%;
  width: 295px;
  height: 50px;
  left: 7%;
  z-index: -1;
}
svg{
  position: absolute;
  top: 89.5%;
  left: 29%;
}
div::after{
  content: "";
position: absolute;
width: 350px;
z-index: -5;
top: 28px;
height: 632px;
border-radius: 10px;
left: 13px;
background-color: white;
}
}
@media (width:1440px) {
img.o{
  position: absolute;
  left: 1000000%
}
img.s{
  position: absolute;
    left: 52%;
    top: 17%;
    width: 23%;
    height: 39%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.a{
  color: lightgray;
  font-size: 14PX;
  position: absolute;
  left: 78%;
  top: 19%;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
body{
  background-color: hsl(30, 38%, 92%)
}
.h{
  position: absolute;
  left: 700000%;
}
.y{
    position: absolute;
    left: 78%;
    top: 22%;
    font-family: Fraunces;
    font-weight: 700;
}
.c{
  position: absolute;
  left: 1000000%
}
.r{
  color: lightgray;
      font-size: 14PX;
      position: absolute;
      left: 78%;
      top: 34%;
      font-family: sans-serif;
      line-height: 25px;
      letter-spacing: 1px;
}
.l{
  position: absolute;
left: 78%;
top: 42%;
color: hsl(158, 36%, 37%);
font-family: Fraunces;
font-size: 30px;
font-weight: 700;
}
del{
  position: absolute;
  left: 88%;
  top: 46%;
  font-size: 14px;
  color: lightgray;
}
input {
  font-family: Montserrat;
      background-color: hsl(158, 36%, 37%);
      color: white;
      border: none;
      border-radius: 10px;
      position: absolute;
      top: 49%;
      width: 260px;
      height: 50px;
      left: 78%;
      z-index: -1;
}
svg{
  position: absolute;
    top: 50.3%;
    left: 82.5%;
}
div::after{
  content: "";
    position: absolute;
    width: 47%;
    z-index: -5;
    top: 17%;
    height: 39%;
    border-radius: 10px;
    left: 52%;
    background-color: white;
}
input:hover{
  background-color: #295e4b;
  cursor: pointer;
}
}
